:root {
    --primary-color: black;
    --gradient-top: #f78ca0;
    --gradient-midtop: #f9748f;
    --gradient-midbottom: #fd868c;
    --gradient-bottom: #fe9a8b;
    --sub-color: #999;
    --sub-dark-color: #666;
    --sub-light-color: #ccc;
    --background-color: #f6f5f4;
    --accent-color: #f5576c;

    --mobile: 768px;
    --desktop: 1024px;
}