@import "/assets/css/_variabled.css";
@import "/assets/css/font.css";
@import "/assets/css/reset.css";

.footer {
  background-color: var(--background-color);
  width: 100vw;
  height: 56px;
  padding: 6px 28px;
  position: fixed;
  justify-content: space-between;
  display: none;
  bottom: 0;
  left: 0;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.35);
}

.footer-item-radio:checked + label > i {
  background-image: linear-gradient(to bottom, var(--gradient-top) 0%, var(--gradient-midtop) 19%, var(--gradient-midbottom) 60%, var(--gradient-bottom) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.footer-item-radio:checked + label > p {
  color: var(--accent-color);
}

.footer-item-label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item-label:hover {
  transform: scale(1.075);
}

.footer-item-label:active {
  transition: 150ms;
  transform: scale(0.95);
}

.footer > input {
  display: none;
}

.footer > label > i {
  color: var(--sub-color);
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
