@import "/assets/css/_variabled.css";
@import "/assets/css/font.css";
@import "/assets/css/reset.css";

.footer {
  width: 100vw;
  padding: 1.6rem 2.4rem;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  left: 0;
}

.footer-submit {
  border-radius: 0.8rem;
  background-color: var(--sub-light-color);
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1.2rem 0;
  color: var(--sub-dark-color);
  text-align: center;
  cursor: default;
}