@import "/assets/css/_variabled.css";
@import "/assets/css/font.css";
@import "/assets/css/reset.css";

.wrapper {
    position: relative;
    overflow: hidden;
}

.video-box {
    height: 100vh;
    position: relative;
}

video {
    height: 100%;
}

.video-overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.video-control-box {
    padding: 0 2.4rem;
    width: 100%;
    position: absolute;
    top: calc(80vh - 6rem);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}

.video-control-btn {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    border-radius: 0.8rem;
    line-height: 4.8rem;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--gradient-top) 0%, var(--gradient-midtop) 19%, var(--gradient-midbottom) 60%, var(--gradient-bottom) 100%);
}

.video-control-terms, a {
    color: var(--sub-color);
    text-align: center;
    font-size: 1.4rem;
}

a {
    text-decoration: underline;
}

.install-app-btn-container {
    width: calc(100% - 4.8rem);
    height: fit-content;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    margin: 1.6rem 2.4rem;
    padding: 0.8rem 2.4rem;
    border-radius: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

.install-app-title {
    font-size: 2rem;
    font-weight: 700;
}

.install-app-box {
    cursor: pointer;
    padding: 0.4rem 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 0.4rem;
    border-radius: 100rem;
    background-image: linear-gradient(to right, var(--gradient-top) 0%, var(--gradient-midtop) 19%, var(--gradient-midbottom) 60%, var(--gradient-bottom) 100%);
}

.install-app-box > p {
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
}

.install-app-box > i {
    font-size: 1.8rem;
    color: white;
}

@media screen and (min-width: 1200px) {
    .video-control-btn {
        width: 720px;
        margin: 0 auto;
    }
}