@import "/assets/css/_variabled.css";
@import "/assets/css/font.css";
@import "/assets/css/reset.css";

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.content {
    width: 100%;
    height: calc(100% - 14rem);
    padding: 3.2rem 2.4rem;
    overflow: hidden;
}

.content-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
}

.content-des {
    margin-top: 0.8rem;
    font-size: 1.4rem;
    color: var(--sub-color);
}

.content-photo-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.8rem;
    margin-top: 3.6rem;
    width: 100%;
}

.content-photo-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.8rem;
    cursor: pointer;
    aspect-ratio: auto 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: var(--sub-light-color);
}

.content-photo-label > i {
    color: var(--sub-color);
    font-size: 2.8rem;
}

.content-photo-p {
    position: absolute;
    right: 1.6rem;
    bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--accent-color);
}

.option {
    color: var(--sub-dark-color);
}

.content-photo-upload {
    width: 100%;
    border-radius: 0.8rem;
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .content-photo-box {
        width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 720px;
        margin: 0 auto;
    }
}