@import "/assets/css/_variabled.css";
@import "/assets/css/font.css";
@import "/assets/css/reset.css";

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.content {
    width: 100%;
    padding: 3.2rem 2.4rem;
}

.content-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
}

.content-des {
    margin-top: 0.8rem;
    font-size: 1.4rem;
    color: var(--sub-color);
}

.content-birth-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.6rem;
}

.content-birth {
    width: 30%;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    padding: 0.8rem 0;
    border: 1px solid red;
}

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 720px;
        margin: 0 auto;
    }
}