@import "/assets/css/_variabled.css";
@import "/assets/css/font.css";
@import "/assets/css/reset.css";

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.content {
    padding: 3.2rem 2.4rem;
}

.content-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
}

.content-des {
    margin-top: 0.8rem;
    font-size: 1.4rem;
    color: var(--sub-color);
}

.content-phone-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.6rem;
}

.content-phone {
    border: none;
    font-size: 2.4rem;
    font-weight: 700;
    width: calc(100% - 2rem);
}

.content-phone:focus {
    outline: 0;
}

.content-phone-x-box {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--sub-color);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}

.content-phone-x-box > i {
    color: white;
    font-size: 0.8rem;
}