<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- (A) "USUAL" TITLE CHARSET DESCRIPTION VIEWPORT -->
    <title>Lovit - 러빗</title>
    <meta charset="utf-8">
    <meta name="description" content="소개팅 프로그레시브 웹앱입니다.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
    <link rel="stylesheet" href="/assets/css/components/register-header.css">
    <link rel="stylesheet" href="/assets/css/components/register-footer.css">
    <link rel="stylesheet" href="/assets/css/components/toast.css">
    <link rel="stylesheet" href="/assets/css/views/user/register-photo.css">

    <!-- (B) ICONS & PLATFORM SPECIFIC -->
    <!-- (B1) GOOD OLD FAVICON -->
    <link rel="icon" href="favicon.png" type="image/png">

    <!-- (B2) ANDROID/CHROME -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="white">

    <!-- (B3) IOS APP ICON + MOBILE SAFARI -->
    <link rel="apple-touch-icon" href="icon-512.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Hello World">

    <!-- (B4) WINDOWS -->
    <meta name="msapplication-TileImage" content="icon-512.png">
    <meta name="msapplication-TileColor" content="#FFF">

    <!-- (C) WEB APP MANIFEST -->
    <!-- https://web.dev/add-manifest/ -->
    <link rel="manifest" href="/manifest.json">

    <!-- (D) SERVICE WORKER -->
    <script>
        if ("serviceWorker" in navigator) { navigator.serviceWorker.register("/ServiceWorker.js"); }
    </script>                                                   

    <!-- (E) STYLESHEET + JAVASCRIPT
        <link rel="stylesheet" href="YOUR-STYLES.css">
        <script defer src="YOUR-SCRIPTS.js"></script>
        -->
    <script src="https://kit.fontawesome.com/4110c1f003.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-prev">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
        </div>
        <div class="content">
            <p class="content-title">
                마지막으로,
                <br>
                프로필 사진을 업로드 해주세요
            </p>
            <p class="content-des">
                얼굴이 보이는 사진 1장은 필수입니다:)
            </p>
            <div class="content-photo-box">
                <input type="file" id="0" class="content-photo-upload" accept="image/*">
                <label for="0" class="content-photo-label">
                    <i class="fa-solid fa-plus"></i>
                    <p class="content-photo-p">필수</p>
                </label>
                <input type="file" id="1" class="content-photo-upload" accept="image/*">
                <label for="1" class="content-photo-label">
                    <i class="fa-solid fa-plus"></i>
                    <p class="content-photo-p option">선택</p>
                </label>
                <input type="file" id="2" class="content-photo-upload" accept="image/*">
                <label for="2" class="content-photo-label">
                    <i class="fa-solid fa-plus"></i>
                    <p class="content-photo-p option">선택</p>
                </label>
            </div>
        </div>
        <div class="footer">
            <p class="footer-submit">
                다음
            </p>
        </div>
        <div class="toast"></div>
    </div>
    <script type="module" src="/assets/js/modules/_variabled.js"></script>
    <script type="module" src="/assets/js/user/register-photo.js"></script>
    <script type="module" src="/assets/js/modules/toast.js"></script>
</body>

</html>