<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- (A) "USUAL" TITLE CHARSET DESCRIPTION VIEWPORT -->
    <title>Lovit - 러빗</title>
    <meta charset="utf-8">
    <meta name="description" content="소개팅 프로그레시브 웹앱입니다.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
    <link rel="stylesheet" href="/assets/css/components/register-header.css">
    <link rel="stylesheet" href="/assets/css/components/register-footer.css">
    <link rel="stylesheet" href="/assets/css/views/user/register-des.css">
    <link rel="stylesheet" href="/assets/css/components/toast.css">

    <!-- (B) ICONS & PLATFORM SPECIFIC -->
    <!-- (B1) GOOD OLD FAVICON -->
    <link rel="icon" href="favicon.png" type="image/png">

    <!-- (B2) ANDROID/CHROME -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="white">

    <!-- (B3) IOS APP ICON + MOBILE SAFARI -->
    <link rel="apple-touch-icon" href="icon-512.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Hello World">

    <!-- (B4) WINDOWS -->
    <meta name="msapplication-TileImage" content="icon-512.png">
    <meta name="msapplication-TileColor" content="#FFF">

    <!-- (C) WEB APP MANIFEST -->
    <!-- https://web.dev/add-manifest/ -->
    <link rel="manifest" href="/manifest.json">

    <!-- (D) SERVICE WORKER -->
    <script>
        if ("serviceWorker" in navigator) { navigator.serviceWorker.register("/ServiceWorker.js"); }
    </script>                                                   

    <!-- (E) STYLESHEET + JAVASCRIPT
        <link rel="stylesheet" href="YOUR-STYLES.css">
        <script defer src="YOUR-SCRIPTS.js"></script>
        -->
    <script src="https://kit.fontawesome.com/4110c1f003.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-prev">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
        </div>
        <div class="content">
            <p class="content-title">
                거의 다 왔습니다!
                <br>
                간단하게 자기소개를 적어주세요
            </p>
            <p class="content-des">
                SNS 및 연락처 입력 시 영구정지 대상입니다:(
            </p>
            <textarea class="content-des-area" placeholder="100자까지만 입력 가능합니다." maxlength="100"></textarea>
        </div>
        <div class="footer">
            <p class="footer-submit">
                다음
            </p>
        </div>
        <div class="toast"></div>
    </div>
    <script type="module" src="/assets/js/modules/_variabled.js"></script>
    <script type="module" src="/assets/js/user/register-des.js"></script>
    <script type="module" src="/assets/js/modules/toast.js"></script>
</body>

</html>