<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- (A) "USUAL" TITLE CHARSET DESCRIPTION VIEWPORT -->
    <title>Lovit - 러빗</title>
    <meta charset="utf-8">
    <meta name="description" content="소개팅 프로그레시브 웹앱입니다.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
    <link rel="stylesheet" href="/assets/css/components/register-header.css">
    <link rel="stylesheet" href="/assets/css/components/register-footer.css">
    <link rel="stylesheet" href="/assets/css/views/user/register-char.css">

    <!-- (B) ICONS & PLATFORM SPECIFIC -->
    <!-- (B1) GOOD OLD FAVICON -->
    <link rel="icon" href="favicon.png" type="image/png">

    <!-- (B2) ANDROID/CHROME -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="white">

    <!-- (B3) IOS APP ICON + MOBILE SAFARI -->
    <link rel="apple-touch-icon" href="icon-512.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Hello World">

    <!-- (B4) WINDOWS -->
    <meta name="msapplication-TileImage" content="icon-512.png">
    <meta name="msapplication-TileColor" content="#FFF">

    <!-- (C) WEB APP MANIFEST -->
    <!-- https://web.dev/add-manifest/ -->
    <link rel="manifest" href="/manifest.json">

    <!-- (D) SERVICE WORKER -->
    <script>
        if ("serviceWorker" in navigator) { navigator.serviceWorker.register("/ServiceWorker.js"); }
    </script>                                                   

    <!-- (E) STYLESHEET + JAVASCRIPT
        <link rel="stylesheet" href="YOUR-STYLES.css">
        <script defer src="YOUR-SCRIPTS.js"></script>
        -->
    <script src="https://kit.fontawesome.com/4110c1f003.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-prev">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
        </div>
        <div class="content">
            <p class="content-title">
                어떤 성격이신가요?
            </p>
            <p class="content-des">
                여러 개 선택할 수 있어요:)
            </p>
            <div class="content-char-box">
                <input type="checkbox" name="" id="1" class="content-char-check">
                <label for="1" class="content-char-label">활발한</label>
                <input type="checkbox" name="" id="2" class="content-char-check">
                <label for="2" class="content-char-label">조용한</label>
                <input type="checkbox" name="" id="3" class="content-char-check">
                <label for="3" class="content-char-label">애교가 넘치는</label>
                <input type="checkbox" name="" id="4" class="content-char-check">
                <label for="4" class="content-char-label">어른스러운</label>
                <input type="checkbox" name="" id="5" class="content-char-check">
                <label for="5" class="content-char-label">열정적인</label>
                <input type="checkbox" name="" id="6" class="content-char-check">
                <label for="6" class="content-char-label">침착한</label>
                <input type="checkbox" name="" id="7" class="content-char-check">
                <label for="7" class="content-char-label">또라이 같은</label>
                <input type="checkbox" name="" id="8" class="content-char-check">
                <label for="8" class="content-char-label">예의 바른</label>
                <input type="checkbox" name="" id="9" class="content-char-check">
                <label for="9" class="content-char-label">유머러스한</label>
                <input type="checkbox" name="" id="10" class="content-char-check">
                <label for="10" class="content-char-label">진지한</label>
                <input type="checkbox" name="" id="11" class="content-char-check">
                <label for="11" class="content-char-label">자신감 넘치는</label>
                <input type="checkbox" name="" id="12" class="content-char-check">
                <label for="12" class="content-char-label">허세 없는</label>
                <input type="checkbox" name="" id="13" class="content-char-check">
                <label for="13" class="content-char-label">엉뚱한</label>
                <input type="checkbox" name="" id="14" class="content-char-check">
                <label for="14" class="content-char-label">지적인</label>
                <input type="checkbox" name="" id="15" class="content-char-check">
                <label for="15" class="content-char-label">성실한</label>
                <input type="checkbox" name="" id="16" class="content-char-check">
                <label for="16" class="content-char-label">자유로운</label>
                <input type="checkbox" name="" id="17" class="content-char-check">
                <label for="17" class="content-char-label">감성적인</label>
                <input type="checkbox" name="" id="18" class="content-char-check">
                <label for="18" class="content-char-label">꼼꼼한</label>
                <input type="checkbox" name="" id="19" class="content-char-check">
                <label for="19" class="content-char-label">논리적인</label>
                <input type="checkbox" name="" id="20" class="content-char-check">
                <label for="20" class="content-char-label">즉흥적인</label>
                <input type="checkbox" name="" id="21" class="content-char-check">
                <label for="21" class="content-char-label">소심한</label>
                <input type="checkbox" name="" id="22" class="content-char-check">
                <label for="22" class="content-char-label">쿨한</label>
            </div>
        </div>
        <div class="footer">
            <p class="footer-submit">
                다음
            </p>
        </div>
    </div>
    <script type="module" src="/assets/js/modules/_variabled.js"></script>
    <script type="module" src="/assets/js/user/register-char.js"></script>
</body>

</html>