<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/views/home.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4110c1f003.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="home">
        <div class="home-recommend-box">
            <div class="home-recommend-title-box">
                <p class="home-recommend-title">오늘의 추천</p>
                <p class="home-recommend-title-des">매일 0시에 초기화됩니다</p>
            </div>
            <div class="home-recommend-list">
            </div>
            <div class="home-recommend-retry">
                <p>한번 더 추천받기</p>
            </div>
        </div>
        <div class="home-recommend-box">
            <div class="home-recommend-title-box">
                <p class="home-recommend-title">맞춤 추천</p>
            </div>
            <div class="home-filter-list">
                <div class="home-filter-item">
                    <i class="fa-solid fa-calendar"></i>
                    <p>오늘 접속한 동네 친구</p>
                </div>
                <div class="home-filter-item">
                    <i class="fa-solid fa-calendar"></i>
                    <p>새로 가입한 친구</p>
                </div>
                <div class="home-filter-item">
                    <i class="fa-solid fa-calendar"></i>
                    <p>내 주변 친구</p>
                </div>
                <div class="home-filter-item">
                    <i class="fa-solid fa-check"></i>
                    <p>내 취향에 맞는 친구 찾기</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/home.js"></script>
</body>

</html>